.homePageContent {
  margin: 10px;
  display: grid;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(255, 255, 255, 0.125);
  border: 1px solid black; */
}

.homePageHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(37, 57, 73, 1);
  color: white;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 80px;
  top: 0;
  right: 0;
  z-index: 2;
}

.myTravelsHome {
  border-radius: 50%;
  animation: zoominoutsinglefeatured 1s infinite;
  box-shadow: -1px -1px 2px 1px #000 inset, 0 0 10px 1px rgba(0, 0, 0, 0.365);
  background-size: cover;
  width: 40px;
  height: 40px;
  background-image: url("/src/images/lake.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.earth {
  border-radius: 50%;
  box-shadow: -1px -1px 2px 1px #000 inset, 0 0 10px 1px rgba(0, 0, 0, 0.598);
  animation: spin 10s linear alternate infinite;
  background-size: cover;
  width: 40px;
  height: 40px;
  background-image: url("/src/images/earth.png");
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.homeLink1:hover,
.homeLink2:hover {
  scale: 105%;
}

.homeLink1,
.homeLink2 {
  text-decoration: none;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.homeLink1 {
  margin-bottom: -200px;
}
.homeLink2 {
  margin-top: -200px;
}

.homePageLinksTitles {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 5px;
  background-color: rgba(37, 57, 73, 0.7);
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 50px;
  border: solid 2px rgb(255, 255, 255);
  box-shadow: 4px 4px 5px #181212;
  z-index: 1;
  display: flex;
  align-items: center;
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes spin {
  100% {
    background-position: 100%;
  }
}
