.TripDetails {
  display: flex;
  flex-direction: column;
}

.TripDetails h2 {
  margin: 3px 0 10px -115px;
  width: 300px;
  text-align: end;
  padding-right: 20px;
  border-radius: 50px;
  font-size: 1.9em;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  box-shadow: 2px 2px 5px #181212;
  background-color: rgba(37, 57, 73, 0.95);
}

.tripDetailsHeader {
  display: flex;
  align-items: center;
  padding: 20px 0 0 16px;
  margin-left: 25px;
  z-index: 1;
}

.tripDetailsContent {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 350px;
  padding: 10px;
  margin-top: 10px;
  font-size: 0.9em;
  border-radius: 10px;
  color: white;
}

.tripDetailsContent i {
  margin-right: 5px;
}

.tripDetailsFieldTitle {
  border-radius: 10px 0 0 10px;
  padding: 8px;
  margin: 2px -2px 10px 8px;
  color: white;
  background-color: rgba(37, 57, 73, 1);
  border: black solid 2px;
  font-weight: 600;
}

.tripDetailsContent div {
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.capitalize {
  text-transform: capitalize;
}

.tripDetailsTitle {
  margin-top: 10px;
  font-size: 34px;
  text-transform: uppercase;
  align-self: center;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px 15px;
  box-shadow: 2px 2px 5px #000000;
  background-color: rgba(255, 255, 255, 0.6);
}

.tripDetailsFieldContent {
  border-radius: 0 10px 10px 0;
  padding: 8px;
  margin: 2px 0 10px 0;
  color: rgb(0, 0, 0);
  border: rgb(0, 0, 0) solid 2px;
  background-color: rgb(255, 255, 255);
}

.tripDetailsFooter {
  display: flex;
  align-self: center;
  margin: 8px 0;
}

.editLink {
  text-decoration: none;
}

.editTripButton,
.editTripCancelButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  margin: 0 10px;
  font-weight: 700;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 5px #181212;
  border: solid 2px rgb(255, 255, 255);
  background-color: rgba(37, 57, 73, 0.95);
}

.editTripButton:hover,
.editTripCancelButton:hover {
  scale: 105%;
}

.editTripButton {
  background-color: rgb(159, 159, 19);
  color: black;
}

.editTripCancelButton {
  background-color: rgb(85, 31, 31);
}

@media only screen and (max-width: 350px) {
  .tripDetailsHeader {
    font-size: 0.9em;
    margin-left: 10px;
  }
  .tripDetailsContent {
    width: 310px;
    font-size: 0.8em;
  }
  .tripDetailsTitle {
    font-size: 26px;
  }
}
