.TravelMap {
  display: flex;
  flex-direction: column;
}

.travelMapHeader {
  display: flex;
  align-items: center;
  padding: 20px 0 0 16px;
  margin-left: 25px;
  z-index: 1;
}

.TravelMap h2 {
  margin: 3px 0 10px -120px;
  width: 300px;
  text-align: end;
  padding-right: 20px;
  border-radius: 50px;
  font-size: 1.9em;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  box-shadow: 2px 2px 5px #181212;
  background-color: rgba(37, 57, 73, 0.95);
}

.backToTopButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -5px;
  bottom: 60px;
  width: 50px;
  height: 50px;
  margin-right: 6px;
  padding: 5px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  box-shadow: 2px 2px 5px #181212;
  background-color: rgb(37, 57, 73);
}

.travelMapButtonHome {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 6px;
  padding: 5px;
  border-radius: 50px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  box-shadow: 2px 2px 5px #181212;
  background-color: rgb(37, 57, 73);
}

.myTripsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-left: 4px;
  padding: 15px;
  font-weight: 700;
  font-size: 1.1em;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  box-shadow: 2px 2px 5px #181212;
  background-color: rgba(37, 57, 73, 1);
  border: solid 2px rgb(255, 255, 255);
}

.visitedCountriesCounter {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 335px;
  padding: 5px 0 5px 0;
  margin: 5px 0 -2px 0;
  font-size: 14px;
  border-radius: 10px 10px 0 0;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  background-color: rgba(37, 57, 73, 1);
}

.countryFlag {
  width: 20px;
  margin-right: 5px;
}

.mapboxMap {
  border: solid 2px rgb(255, 255, 255);
  align-self: center;
  box-shadow: 2px 2px 5px #181212;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.travelMapButtonHome:hover,
.myTripsButton:hover,
.backToTopButton:hover {
  scale: 105%;
}

.myTripsButton i {
  margin-right: 5px;
  animation: zoominoutsinglefeatured 1s infinite;
}

.travelMapFooter {
  display: flex;
  position: fixed;
  justify-self: end;
  margin: 20px 15px 20px 0;
  bottom: 0;
  right: 0;
}

.myTripsButtonLink,
.backToTopLink {
  text-decoration: none;
}

.countryFilter {
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  width: 335px;
  border-radius: 10px;
  font-size: 16px;
  margin-top: 5px;
  padding: 10px 0 10px 0;
  color: white;
  border: solid 2px rgb(255, 255, 255);
  background-color: rgba(37, 57, 73, 1);
  position: -webkit-sticky;
  position: sticky;
  top: 270px;
}

.countryFilter input {
  margin-left: 10px;
  width: 150px;
}

.noResults {
  align-self: center;
  margin-top: 5px;
  padding: 5px 10px 5px 10px;
  font-size: 1.2em;
  font-weight: 400;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.8);
}

.fa-exclamation-circle {
  margin-right: 5px;
  color: darkred;
}

.countryName {
  display: flex;
  align-self: center;
  margin-top: 3px;
  padding: 5px 10px 5px 10px;
  width: 320px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.7);
}

.countryName input {
  margin-right: 5px;
}

.fa-check-circle {
  font-size: 1em;
  cursor: pointer;
  color: rgb(2, 31, 2);
  box-shadow: 2px 2px 5px #000000;
  border-radius: 50%;
  border: 1px solid white;
}

.clusterMarker {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  color: white;
  border: 2px solid white;
  box-shadow: 2px 2px 5px #181212;
  background-color: rgb(9, 78, 9);
}

.mapboxgl-popup-content {
  box-shadow: 2px 2px 5px #000000;
  padding: 10px 30px 10px 10px;
  background-color: rgba(37, 57, 73, 1);
  color: white;
}

.mapboxgl-popup-content button {
  font-weight: 700;
  background-color: darkred;
  color: white;
  font-size: 20px;
  height: 100%;
  margin-left: 20px;
  padding: 5px;
}

.mapboxgl-popup-content button:hover {
  background-color: rgb(82, 9, 9);
}

@keyframes zoominoutsinglefeatured {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
