*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #66a0b7;
}

.App {
  display: grid;
  height: 100vh;
  grid-template-rows: [header] 50px [main] auto;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: teal;
  justify-content: center;
}
