*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://images.unsplash.com/photo-1540808044900-586280dec621?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
}

.App {
  display: grid;
  height: 100vh;
  grid-template-rows: [header] 50px [main] auto;
  margin: auto;
  font-family: Roboto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px black solid;
  justify-content: center;
  position: absolute;
  width: 150px;
  height: 50px;
  right: -30px;
  top: 25px;
  border-radius: 50px 0 0 50px;
  padding-left: 20px;
  font-weight: 700;
}
